@using Microsoft.Extensions.Localization
@using DatePicker.Web
@inject IStringLocalizer<Shared> Localizer
@addTagHelper  Microsoft.AspNetCore.Mvc.TagHelpers.EnvironmentTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="datepicker,calendar,iframe,js日历控件,日历控件,无样式冲突的,自定义格式,日历框,日历,前端工具">
    <meta name="description" content="datepicker,calendar,日历控件,日历框,日历">
    <link rel='icon' href='~/images/date.ico' type='image/x-ico' />
    <title>@ViewData["Title"]</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/datepicker/datepicker.min.js" template="/datepicker/datepicker-template.html" css="/datepicker/datepicker-orange.min.css"></script>
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <environment names="Development">
        <link href="~/css/layout.css" rel="stylesheet" />
        <link href="~/css/loading.css" rel="stylesheet" />
        <script src="~/js/loading.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/layout.min.css" rel="stylesheet" />
        <link href="~/css/loading.min.css" rel="stylesheet" />
        <script src="~/js/loading.min.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>
    @RenderSection("script", false)
    <script>

    </script>
</head>
<body style="background-image:url(../images/background/bg-1.jpg)">
    <div class="container">
        <div class="top">
            <a href="/home/intro">
                <svg class="logo" viewBox="0 0 1024 1024" version="1.1" width="40" height="25">
                    <path d="M876.195506 83.075916l-86.714949 0 0 69.47024c0 26.466154-24.457051 47.92118-54.630994 47.92118-30.073842 0-54.535949-21.454015-54.535949-47.92118L680.313614 83.075916 343.586285 83.075916l0 69.47024c0 26.466154-24.457051 47.92118-54.530893 47.92118-30.077886 0-54.535949-21.454015-54.535949-47.92118L234.519443 83.075916l-86.714949 0c-58.438885 0-106.05875 41.702771-106.05875 93.028403l0 750.542703c0 51.327654 47.518753 93.028403 106.05875 93.028403l728.392024 0c58.44394 0 106.057739-41.802872 106.057739-93.028403L982.254256 176.104319C982.254256 124.778687 934.639447 83.075916 876.195506 83.075916L876.195506 83.075916 876.195506 83.075916zM913.186443 912.411417c0 16.540967-16.540967 30.073842-36.989925 30.073842L147.804494 942.485258c-20.448959 0-36.989925-13.431763-36.989925-30.073842L110.814568 346.424002l802.472987 0L913.186443 912.411417 913.186443 912.411417 913.186443 912.411417zM289.95428 182.122526c14.436819 0 26.065749-9.021242 26.065749-20.051587L316.020029 83.075916 316.020029 36.56222c0-11.126401-11.629941-20.047543-26.065749-20.047543-14.436819 0-26.164839 9.021242-26.164839 20.047543l0 46.513696 0 78.994011C263.78843 173.201384 275.517461 182.122526 289.95428 182.122526L289.95428 182.122526 289.95428 182.122526zM734.04572 182.122526c14.436819 0 26.164839-9.021242 26.164839-20.051587L760.210559 36.56222c0-11.126401-11.729031-20.047543-26.164839-20.047543-14.436819 0-26.064738 9.021242-26.064738 20.047543l0 125.507707C707.980982 173.201384 719.608901 182.122526 734.04572 182.122526L734.04572 182.122526zM752.590733 516.342269l-256.430991 295.526075c-13.632976 15.738135-35.785677 15.738135-49.417642 0l-143.953631-165.909163c-13.632976-15.738135-13.632976-41.301355 0-57.038479 13.632976-15.742179 35.785677-15.742179 49.517744 0l119.194253 137.433907 231.567468-267.055875c13.632976-15.738135 35.788711-15.738135 49.421687 0C766.223709 475.041925 766.223709 500.604134 752.590733 516.342269L752.590733 516.342269zM752.590733 516.342269"></path>
                </svg>
            </a>
            <ul class="nav-top">
                <li>
                    <a href="/home/index" class="home">@Localizer["home"]</a>
                </li>
                <li>
                    <a href="/feature/index" class="feature">@Localizer["features"]</a>
                </li>
                <li>
                    <a href="/download/index" class="download">@Localizer["download"]</a>
                </li>
                <li>
                    <a href="/forum/index" class="forum">@Localizer["forum"]</a>
                </li>
            </ul>
        </div>
        <div class="middle">
            @RenderBody()
        </div>
        <div class="bottom">
            © 2017 京ICP备17022605号
        </div>
        <div class="lang_bar">
            <a class="lang_bar_txt lang_bar_en" code="en-us">EN</a>
            <a class="lang_bar_txt lang_bar_zh" code="zh-cn">中</a>
        </div>
    </div>
</body>
</html>
<script>

</script>